*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.App{
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  margin-left: 70px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; 
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-Nav{
  background-color: rgba(2, 163, 249, 0.418);
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-Nav a{
  text-decoration: none;
  font-size: 25px;
  color: black;
}
.App-Nav a:hover{
  font-size: 30px;
}
.App-Nav nav{
  display: flex;
  gap: 50px;
}
.App-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  height: 100%;
}
.secondTitle{
  font-size: 50px;
}
#select{
  height: 40px;
  width: 200px;
  border-radius: 20px;
  text-align: center;
  font-size: 19px;
}

.resultado{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: 80px;
  height: 80px;
  background-color: black;
  color: aliceblue;
  border-radius: 50px;
}
.botones{
  display: flex;
  gap: 15px;
}
.App-section button{
  width: 200px;
  height: 45px;
  background-color: black;
  border-radius: 40px;
  color: aliceblue;
  font-size: 20px;
  cursor: pointer;
}
.App-section button:hover{
  width: 210px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.704);
}
.text{
  width: 1600px;
  font-size: 25px;
  text-align: center;
}
button.mas{
  color: greenyellow;
}
button.menos{
  color: red;
}
button.restaurar{
  color: yellow;
}

.card img{
  height: 300px;
  width:  300px;
}
@media (prefers-reduced-motion: no-preference) {
  .card {
    animation: App-sol-spin infinite 20s linear; 
  }
}

@keyframes App-sol-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contador{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #282c34;
  color: white;
}
.footer img{
  width: 50px;
  height: 50px;
}
.icons{
  display: flex;
  gap: 17px;
}
.contact{
  display: flex;
  gap: 10px;
  align-items: center;
}

.swtich-container{
  position: fixed;
  right: 9%;
}

.lbl{
    display: inline-block;
    width: 65px;
    height: 33px;
    background: #979797;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: .2s;
  }
   
  .lbl::after{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: #eee;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: .2s;
  }
   
  #switch:checked + .lbl::after{
    left: 36px;
  }
   
  #switch:checked + .lbl{
    background: #00C8B1;
  }
   
  #switch{
    display: none;
  }
  body.color {
    background: linear-gradient(to left, rgb(0, 208, 255), rgb(255, 255, 255));
  }
  .section-Home{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formulario{
    border: solid 1px rgba(0, 0, 0, 0.489);
    box-shadow: 1px 1px 5px 6px #282c3481;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  
  }
  .formulario input{
    width: 400px;
    height: 40px;
    font-size: 20px;
    text-align: center;
  }
  .textmessage{
    width: 400px;
    height: 90px;
    text-align: center;
    font-size: 25px;

  }
  .btnEmail{
    height: 40px;
    width: 150px;
    background-color: tomato;
    font-size: 20px;
    cursor: pointer;
  }